-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: promoter
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `application`
--

DROP TABLE IF EXISTS `application`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `apply_method` enum('MESSAGE','ONLINE','PHONE') DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `status` enum('ABSENT','APPLIED','APPROVED','COMPLETED','NO_SHOW','REJECTED') DEFAULT NULL,
  `job_post_id` bigint DEFAULT NULL,
  `job_post_role_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  `work_session_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKqhppc6ebpi0j94530ftuuyldn` (`job_post_id`),
  KEY `FKm5884mnrm1p469wlyhphn5eb3` (`job_post_role_id`),
  KEY `FKawte0mbtubellxed1dvpoxhdj` (`user_id`),
  KEY `FK646d1cp3utycflg5repjfeg4r` (`work_session_id`),
  CONSTRAINT `FK646d1cp3utycflg5repjfeg4r` FOREIGN KEY (`work_session_id`) REFERENCES `work_session` (`id`),
  CONSTRAINT `FKawte0mbtubellxed1dvpoxhdj` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKm5884mnrm1p469wlyhphn5eb3` FOREIGN KEY (`job_post_role_id`) REFERENCES `job_post_role` (`id`),
  CONSTRAINT `FKqhppc6ebpi0j94530ftuuyldn` FOREIGN KEY (`job_post_id`) REFERENCES `job_post` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application`
--

LOCK TABLES `application` WRITE;
/*!40000 ALTER TABLE `application` DISABLE KEYS */;
/*!40000 ALTER TABLE `application` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance_dispute`
--

DROP TABLE IF EXISTS `attendance_dispute`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance_dispute` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `admin_memo` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `evidence_url` varchar(255) DEFAULT NULL,
  `processed_at` datetime(6) DEFAULT NULL,
  `reason` text,
  `status` enum('APPROVED','PENDING','REJECTED') DEFAULT NULL,
  `type` enum('ABSENT','CHECK_IN','CHECK_OUT') DEFAULT NULL,
  `admin_id` bigint DEFAULT NULL,
  `attendance_id` bigint DEFAULT NULL,
  `company_id` bigint DEFAULT NULL,
  `worker_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKg8syihnfag6x8wbf63kg2vm00` (`admin_id`),
  KEY `FK4w7pcw14dp8yjdslwc4m84dxs` (`attendance_id`),
  KEY `FKaw4e6xfn3hfl0pfdqfoj88bf4` (`company_id`),
  KEY `FK9fwxtpdtphy2m5bu879mqfc6x` (`worker_id`),
  CONSTRAINT `FK4w7pcw14dp8yjdslwc4m84dxs` FOREIGN KEY (`attendance_id`) REFERENCES `work_attendance` (`id`),
  CONSTRAINT `FK9fwxtpdtphy2m5bu879mqfc6x` FOREIGN KEY (`worker_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKaw4e6xfn3hfl0pfdqfoj88bf4` FOREIGN KEY (`company_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKg8syihnfag6x8wbf63kg2vm00` FOREIGN KEY (`admin_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_dispute`
--

LOCK TABLES `attendance_dispute` WRITE;
/*!40000 ALTER TABLE `attendance_dispute` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance_dispute` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `banner`
--

DROP TABLE IF EXISTS `banner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `banner` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `click_count` int NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `end_at` datetime(6) DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `link_url` varchar(255) DEFAULT NULL,
  `order_index` int NOT NULL,
  `position` enum('JOB_LIST','MAIN_BOTTOM','MAIN_TOP','MY_PAGE') DEFAULT NULL,
  `start_at` datetime(6) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `banner`
--

LOCK TABLES `banner` WRITE;
/*!40000 ALTER TABLE `banner` DISABLE KEYS */;
/*!40000 ALTER TABLE `banner` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `block`
--

DROP TABLE IF EXISTS `block`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `block` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `blocked_id` bigint DEFAULT NULL,
  `blocker_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKev0ppco3q86uc17mujrv3yg0` (`blocked_id`),
  KEY `FK4txnfd3qo7l9ohqe04rl1dqxu` (`blocker_id`),
  CONSTRAINT `FK4txnfd3qo7l9ohqe04rl1dqxu` FOREIGN KEY (`blocker_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKev0ppco3q86uc17mujrv3yg0` FOREIGN KEY (`blocked_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `block`
--

LOCK TABLES `block` WRITE;
/*!40000 ALTER TABLE `block` DISABLE KEYS */;
/*!40000 ALTER TABLE `block` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookmark`
--

DROP TABLE IF EXISTS `bookmark`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bookmark` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `job_post_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK4h9btacvtgn6icvqiwgduqiir` (`job_post_id`),
  KEY `FKo4vbqvq5trl11d85bqu5kl870` (`user_id`),
  CONSTRAINT `FK4h9btacvtgn6icvqiwgduqiir` FOREIGN KEY (`job_post_id`) REFERENCES `job_post` (`id`),
  CONSTRAINT `FKo4vbqvq5trl11d85bqu5kl870` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookmark`
--

LOCK TABLES `bookmark` WRITE;
/*!40000 ALTER TABLE `bookmark` DISABLE KEYS */;
/*!40000 ALTER TABLE `bookmark` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `career`
--

DROP TABLE IF EXISTS `career`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `career` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_name` varchar(255) DEFAULT NULL,
  `is_current` bit(1) DEFAULT NULL,
  `job_title` varchar(255) DEFAULT NULL,
  `join_date` varchar(255) DEFAULT NULL,
  `leave_date` varchar(255) DEFAULT NULL,
  `resume_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKrfa4rx0u68pso7sls4vprhaw2` (`resume_id`),
  CONSTRAINT `FKrfa4rx0u68pso7sls4vprhaw2` FOREIGN KEY (`resume_id`) REFERENCES `resume` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `career`
--

LOCK TABLES `career` WRITE;
/*!40000 ALTER TABLE `career` DISABLE KEYS */;
/*!40000 ALTER TABLE `career` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `certificate`
--

DROP TABLE IF EXISTS `certificate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `certificate` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `acquired_date` varchar(255) DEFAULT NULL,
  `issuer` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `resume_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKi4oy75n04281os1vrl5k2nmlu` (`resume_id`),
  CONSTRAINT `FKi4oy75n04281os1vrl5k2nmlu` FOREIGN KEY (`resume_id`) REFERENCES `resume` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `certificate`
--

LOCK TABLES `certificate` WRITE;
/*!40000 ALTER TABLE `certificate` DISABLE KEYS */;
/*!40000 ALTER TABLE `certificate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_invite_codes`
--

DROP TABLE IF EXISTS `company_invite_codes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_invite_codes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(10) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `expired_at` datetime(6) DEFAULT NULL,
  `role` enum('ADMIN','COMPANY','INDIVIDUAL','MANAGER') NOT NULL,
  `used` bit(1) NOT NULL,
  `company_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKs2kr3bd3vm6bdp8jooggd2thn` (`code`),
  KEY `FKtmc18i9m6u7nha24vtpnwmg62` (`company_id`),
  CONSTRAINT `FKtmc18i9m6u7nha24vtpnwmg62` FOREIGN KEY (`company_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_invite_codes`
--

LOCK TABLES `company_invite_codes` WRITE;
/*!40000 ALTER TABLE `company_invite_codes` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_invite_codes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_stamp`
--

DROP TABLE IF EXISTS `company_stamp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_stamp` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `stamp_url` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK6i6icqmsk4sggd2uu9uwb2f3m` (`user_id`),
  CONSTRAINT `FKci3uh1o4rcd5ud93qty1his6b` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_stamp`
--

LOCK TABLES `company_stamp` WRITE;
/*!40000 ALTER TABLE `company_stamp` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_stamp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_subscription`
--

DROP TABLE IF EXISTS `company_subscription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_subscription` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `expired_at` datetime(6) DEFAULT NULL,
  `started_at` datetime(6) DEFAULT NULL,
  `status` enum('ACTIVE','CANCELLED','EXPIRED') DEFAULT NULL,
  `company_id` bigint DEFAULT NULL,
  `plan_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKp0e23d6wnjabepix4d14vacvo` (`company_id`),
  KEY `FK4bmo6snn1qv6lexhmx46ar84x` (`plan_id`),
  CONSTRAINT `FK4bmo6snn1qv6lexhmx46ar84x` FOREIGN KEY (`plan_id`) REFERENCES `subscription_plan` (`id`),
  CONSTRAINT `FKp0e23d6wnjabepix4d14vacvo` FOREIGN KEY (`company_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_subscription`
--

LOCK TABLES `company_subscription` WRITE;
/*!40000 ALTER TABLE `company_subscription` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_subscription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contract`
--

DROP TABLE IF EXISTS `contract`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contract` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_signature_url` varchar(255) DEFAULT NULL,
  `company_signed_at` datetime(6) DEFAULT NULL,
  `contract_end_date` varchar(255) DEFAULT NULL,
  `contract_start_date` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `status` enum('CANCELLED','DOWNLOAD_EXPIRED','EXPIRED','PENDING','SIGNED') DEFAULT NULL,
  `worker_signature_url` varchar(255) DEFAULT NULL,
  `worker_signed_at` datetime(6) DEFAULT NULL,
  `company_id` bigint DEFAULT NULL,
  `job_post_id` bigint DEFAULT NULL,
  `worker_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKfb5bhahs1axfvveiyib1a5g39` (`company_id`),
  KEY `FKl77ed57v9t20irllpnpoqcp1s` (`job_post_id`),
  KEY `FKbv7u7kxx7yp3dnop1ovgqucgl` (`worker_id`),
  CONSTRAINT `FKbv7u7kxx7yp3dnop1ovgqucgl` FOREIGN KEY (`worker_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKfb5bhahs1axfvveiyib1a5g39` FOREIGN KEY (`company_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKl77ed57v9t20irllpnpoqcp1s` FOREIGN KEY (`job_post_id`) REFERENCES `job_post` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contract`
--

LOCK TABLES `contract` WRITE;
/*!40000 ALTER TABLE `contract` DISABLE KEYS */;
/*!40000 ALTER TABLE `contract` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dispute`
--

DROP TABLE IF EXISTS `dispute`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dispute` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `adjusted_pay` int NOT NULL,
  `admin_memo` text,
  `created_at` datetime(6) DEFAULT NULL,
  `reason` text,
  `resolved_at` datetime(6) DEFAULT NULL,
  `status` enum('ACCEPTED','CLOSED','DECLINED','PENDING','RESOLVED') DEFAULT NULL,
  `worker_response` text,
  `admin_id` bigint DEFAULT NULL,
  `company_id` bigint DEFAULT NULL,
  `payroll_id` bigint DEFAULT NULL,
  `worker_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKi84fyi30mre40wcc31ceyhrwp` (`admin_id`),
  KEY `FKdmd53b535iq0lebubw30klghi` (`company_id`),
  KEY `FKcln73k82i2ggmhag87bjt28f7` (`payroll_id`),
  KEY `FKnvnxi9vti2wpvv5wkj5brav6w` (`worker_id`),
  CONSTRAINT `FKcln73k82i2ggmhag87bjt28f7` FOREIGN KEY (`payroll_id`) REFERENCES `payroll` (`id`),
  CONSTRAINT `FKdmd53b535iq0lebubw30klghi` FOREIGN KEY (`company_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKi84fyi30mre40wcc31ceyhrwp` FOREIGN KEY (`admin_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKnvnxi9vti2wpvv5wkj5brav6w` FOREIGN KEY (`worker_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dispute`
--

LOCK TABLES `dispute` WRITE;
/*!40000 ALTER TABLE `dispute` DISABLE KEYS */;
/*!40000 ALTER TABLE `dispute` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `early_bird`
--

DROP TABLE IF EXISTS `early_bird`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `early_bird` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `marketing_agreed` bit(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKcyj61bpnppq66hcwxnkxyqo02` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `early_bird`
--

LOCK TABLES `early_bird` WRITE;
/*!40000 ALTER TABLE `early_bird` DISABLE KEYS */;
/*!40000 ALTER TABLE `early_bird` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `education`
--

DROP TABLE IF EXISTS `education`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `education` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `enroll_date` varchar(255) DEFAULT NULL,
  `graduate_date` varchar(255) DEFAULT NULL,
  `graduate_status` varchar(255) DEFAULT NULL,
  `major` varchar(255) DEFAULT NULL,
  `school_name` varchar(255) DEFAULT NULL,
  `resume_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKjyor7xegks1vh01tajsof6gb4` (`resume_id`),
  CONSTRAINT `FKjyor7xegks1vh01tajsof6gb4` FOREIGN KEY (`resume_id`) REFERENCES `resume` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `education`
--

LOCK TABLES `education` WRITE;
/*!40000 ALTER TABLE `education` DISABLE KEYS */;
/*!40000 ALTER TABLE `education` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event`
--

DROP TABLE IF EXISTS `event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `event` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content` text,
  `created_at` datetime(6) DEFAULT NULL,
  `detail_image_url` varchar(255) DEFAULT NULL,
  `end_date` varchar(255) DEFAULT NULL,
  `event_type` enum('ATTENDANCE','MISSION','NOTICE','RAFFLE','REFERRAL','RESUME') DEFAULT NULL,
  `start_date` varchar(255) DEFAULT NULL,
  `status` enum('ENDED','ONGOING') DEFAULT NULL,
  `thumbnail_url` varchar(255) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `view_count` int NOT NULL,
  `winner_announced` bit(1) NOT NULL,
  `winner_content` text,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event`
--

LOCK TABLES `event` WRITE;
/*!40000 ALTER TABLE `event` DISABLE KEYS */;
/*!40000 ALTER TABLE `event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event_photo`
--

DROP TABLE IF EXISTS `event_photo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `event_photo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `application_id` bigint DEFAULT NULL,
  `category_id` bigint DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKgj33j1i7nyatt78cx5rp5rbd2` (`application_id`),
  KEY `FK7fcreq0qe6c68mg9yrd7hbi98` (`category_id`),
  KEY `FK5d77ncfeymny9c0orkrtol2gm` (`user_id`),
  CONSTRAINT `FK5d77ncfeymny9c0orkrtol2gm` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FK7fcreq0qe6c68mg9yrd7hbi98` FOREIGN KEY (`category_id`) REFERENCES `job_category` (`id`),
  CONSTRAINT `FKgj33j1i7nyatt78cx5rp5rbd2` FOREIGN KEY (`application_id`) REFERENCES `application` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event_photo`
--

LOCK TABLES `event_photo` WRITE;
/*!40000 ALTER TABLE `event_photo` DISABLE KEYS */;
/*!40000 ALTER TABLE `event_photo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faq`
--

DROP TABLE IF EXISTS `faq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `faq` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `answer` text,
  `category` enum('CONTRACT','DISMISSAL','ETC','WAGE','WORK') DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `order_index` int NOT NULL,
  `question` varchar(255) DEFAULT NULL,
  `target` enum('ALL','COMPANY','WORKER') DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faq`
--

LOCK TABLES `faq` WRITE;
/*!40000 ALTER TABLE `faq` DISABLE KEYS */;
/*!40000 ALTER TABLE `faq` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fcm_token`
--

DROP TABLE IF EXISTS `fcm_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fcm_token` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `device_info` varchar(100) DEFAULT NULL,
  `token` varchar(500) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKtel499bxk6jvp3fg43e1l2ka8` (`user_id`),
  CONSTRAINT `FKtel499bxk6jvp3fg43e1l2ka8` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fcm_token`
--

LOCK TABLES `fcm_token` WRITE;
/*!40000 ALTER TABLE `fcm_token` DISABLE KEYS */;
/*!40000 ALTER TABLE `fcm_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `goal`
--

DROP TABLE IF EXISTS `goal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `goal` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `achieved` bit(1) NOT NULL,
  `achieved_at` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `current_amount` int NOT NULL,
  `target_amount` int NOT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKf70arauooy8e5a5egk8k69xdr` (`user_id`),
  CONSTRAINT `FKf70arauooy8e5a5egk8k69xdr` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `goal`
--

LOCK TABLES `goal` WRITE;
/*!40000 ALTER TABLE `goal` DISABLE KEYS */;
/*!40000 ALTER TABLE `goal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inquiry`
--

DROP TABLE IF EXISTS `inquiry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inquiry` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `admin_reply` text,
  `content` text,
  `created_at` datetime(6) DEFAULT NULL,
  `replied_at` datetime(6) DEFAULT NULL,
  `status` enum('CLOSED','PENDING','REPLIED') DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `type` enum('INQUIRY','REPORT','SUGGESTION') DEFAULT NULL,
  `admin_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKbgftlpnxdwe3fboygwo8u436p` (`admin_id`),
  KEY `FKray80kmwpjpjb91ime7ogijjr` (`user_id`),
  CONSTRAINT `FKbgftlpnxdwe3fboygwo8u436p` FOREIGN KEY (`admin_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKray80kmwpjpjb91ime7ogijjr` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inquiry`
--

LOCK TABLES `inquiry` WRITE;
/*!40000 ALTER TABLE `inquiry` DISABLE KEYS */;
/*!40000 ALTER TABLE `inquiry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invitation`
--

DROP TABLE IF EXISTS `invitation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invitation` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `status` enum('ACCEPTED','EXPIRED','PENDING','REJECTED') DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `company_id` bigint DEFAULT NULL,
  `job_post_id` bigint DEFAULT NULL,
  `worker_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKtd6o721ahapbwqal5fr8ku55` (`company_id`),
  KEY `FKf959w43e2qfj7rpsqvsm5q3po` (`job_post_id`),
  KEY `FKluq2r1tm57374x2u85ec5v1jn` (`worker_id`),
  CONSTRAINT `FKf959w43e2qfj7rpsqvsm5q3po` FOREIGN KEY (`job_post_id`) REFERENCES `job_post` (`id`),
  CONSTRAINT `FKluq2r1tm57374x2u85ec5v1jn` FOREIGN KEY (`worker_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKtd6o721ahapbwqal5fr8ku55` FOREIGN KEY (`company_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invitation`
--

LOCK TABLES `invitation` WRITE;
/*!40000 ALTER TABLE `invitation` DISABLE KEYS */;
/*!40000 ALTER TABLE `invitation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_category`
--

DROP TABLE IF EXISTS `job_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_category` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `level` int DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `parent_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKor7yts1x0pwnme3vv5o77bub9` (`parent_id`),
  CONSTRAINT `FKor7yts1x0pwnme3vv5o77bub9` FOREIGN KEY (`parent_id`) REFERENCES `job_category` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_category`
--

LOCK TABLES `job_category` WRITE;
/*!40000 ALTER TABLE `job_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_post`
--

DROP TABLE IF EXISTS `job_post`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_post` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `allow_online` bit(1) DEFAULT NULL,
  `allow_phone` bit(1) DEFAULT NULL,
  `allow_sms` bit(1) DEFAULT NULL,
  `break_time` varchar(255) DEFAULT NULL,
  `content` text,
  `created_at` datetime(6) DEFAULT NULL,
  `deadline` varchar(255) DEFAULT NULL,
  `description` text,
  `end_time` varchar(255) DEFAULT NULL,
  `image_url` varchar(500) DEFAULT NULL,
  `include_holiday_pay` bit(1) DEFAULT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `manager_email` varchar(255) DEFAULT NULL,
  `manager_fax` varchar(255) DEFAULT NULL,
  `manager_name` varchar(255) DEFAULT NULL,
  `manager_phone` varchar(255) DEFAULT NULL,
  `meal_provided` bit(1) DEFAULT NULL,
  `post_status` enum('CLOSED','DRAFT','OPEN') DEFAULT NULL,
  `preferred_etc` varchar(255) DEFAULT NULL,
  `preferred_experience` varchar(255) DEFAULT NULL,
  `preferred_language` varchar(255) DEFAULT NULL,
  `recruit_count` int DEFAULT NULL,
  `required_age_max` int DEFAULT NULL,
  `required_age_min` int DEFAULT NULL,
  `required_condition` varchar(255) DEFAULT NULL,
  `required_gender` enum('ANY','FEMALE','MALE') DEFAULT NULL,
  `required_personality` varchar(255) DEFAULT NULL,
  `start_time` varchar(255) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `top_exposure` bit(1) DEFAULT NULL,
  `uniform_info` varchar(255) DEFAULT NULL,
  `urgent_badge` bit(1) DEFAULT NULL,
  `view_count` int DEFAULT NULL,
  `wage_amount` int DEFAULT NULL,
  `wage_type` enum('DAILY','HOURLY','MONTHLY') DEFAULT NULL,
  `work_end_date` date DEFAULT NULL,
  `work_location` varchar(255) DEFAULT NULL,
  `work_start_date` date DEFAULT NULL,
  `work_type` varchar(255) DEFAULT NULL,
  `category_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK7aby7yps715jd9b4cbogkcr6g` (`category_id`),
  KEY `FKgmraptye5ftihg17sx6t3pdkv` (`user_id`),
  CONSTRAINT `FK7aby7yps715jd9b4cbogkcr6g` FOREIGN KEY (`category_id`) REFERENCES `job_category` (`id`),
  CONSTRAINT `FKgmraptye5ftihg17sx6t3pdkv` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_post`
--

LOCK TABLES `job_post` WRITE;
/*!40000 ALTER TABLE `job_post` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_post` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_post_exposure`
--

DROP TABLE IF EXISTS `job_post_exposure`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_post_exposure` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `end_at` datetime(6) DEFAULT NULL,
  `paid` bit(1) NOT NULL,
  `price` int NOT NULL,
  `start_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `job_post_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK40wka1kbnf5rj1f69v2sf38r3` (`job_post_id`),
  KEY `FKhyycifu61hy6qnyl6c5bck05s` (`user_id`),
  CONSTRAINT `FK40wka1kbnf5rj1f69v2sf38r3` FOREIGN KEY (`job_post_id`) REFERENCES `job_post` (`id`),
  CONSTRAINT `FKhyycifu61hy6qnyl6c5bck05s` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_post_exposure`
--

LOCK TABLES `job_post_exposure` WRITE;
/*!40000 ALTER TABLE `job_post_exposure` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_post_exposure` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_post_question`
--

DROP TABLE IF EXISTS `job_post_question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_post_question` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `order_index` int NOT NULL,
  `question` varchar(255) DEFAULT NULL,
  `required` bit(1) NOT NULL,
  `job_post_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK4q3kfq6bt2aorxq6acnvg1ah6` (`job_post_id`),
  CONSTRAINT `FK4q3kfq6bt2aorxq6acnvg1ah6` FOREIGN KEY (`job_post_id`) REFERENCES `job_post` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_post_question`
--

LOCK TABLES `job_post_question` WRITE;
/*!40000 ALTER TABLE `job_post_question` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_post_question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_post_question_answer`
--

DROP TABLE IF EXISTS `job_post_question_answer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_post_question_answer` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `answer` text,
  `created_at` datetime(6) DEFAULT NULL,
  `application_id` bigint DEFAULT NULL,
  `question_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKjwtgekwuojbcf3pxtvf1chb7h` (`application_id`),
  KEY `FKnwfo91hpb9r0vhgbmaiecme9r` (`question_id`),
  CONSTRAINT `FKjwtgekwuojbcf3pxtvf1chb7h` FOREIGN KEY (`application_id`) REFERENCES `application` (`id`),
  CONSTRAINT `FKnwfo91hpb9r0vhgbmaiecme9r` FOREIGN KEY (`question_id`) REFERENCES `job_post_question` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_post_question_answer`
--

LOCK TABLES `job_post_question_answer` WRITE;
/*!40000 ALTER TABLE `job_post_question_answer` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_post_question_answer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_post_role`
--

DROP TABLE IF EXISTS `job_post_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_post_role` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `recruit_count` int DEFAULT NULL,
  `requires_experience` bit(1) DEFAULT NULL,
  `role_name` varchar(255) DEFAULT NULL,
  `wage_amount` int DEFAULT NULL,
  `job_post_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKagdiag5l7stxg8hwqd7sqdg5n` (`job_post_id`),
  CONSTRAINT `FKagdiag5l7stxg8hwqd7sqdg5n` FOREIGN KEY (`job_post_id`) REFERENCES `job_post` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_post_role`
--

LOCK TABLES `job_post_role` WRITE;
/*!40000 ALTER TABLE `job_post_role` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_post_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_post_template`
--

DROP TABLE IF EXISTS `job_post_template`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_post_template` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `allow_online` bit(1) DEFAULT NULL,
  `allow_phone` bit(1) DEFAULT NULL,
  `allow_sms` bit(1) DEFAULT NULL,
  `break_time` varchar(255) DEFAULT NULL,
  `content` text,
  `created_at` datetime(6) DEFAULT NULL,
  `description` text,
  `end_time` varchar(255) DEFAULT NULL,
  `include_holiday_pay` bit(1) DEFAULT NULL,
  `manager_email` varchar(255) DEFAULT NULL,
  `manager_name` varchar(255) DEFAULT NULL,
  `manager_phone` varchar(255) DEFAULT NULL,
  `meal_provided` bit(1) DEFAULT NULL,
  `preferred_experience` varchar(255) DEFAULT NULL,
  `required_condition` varchar(255) DEFAULT NULL,
  `required_personality` varchar(255) DEFAULT NULL,
  `start_time` varchar(255) DEFAULT NULL,
  `template_name` varchar(255) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `uniform_info` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `wage_amount` int DEFAULT NULL,
  `wage_type` enum('DAILY','HOURLY','MONTHLY') DEFAULT NULL,
  `work_location` varchar(255) DEFAULT NULL,
  `work_type` varchar(255) DEFAULT NULL,
  `category_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK57nuecq03s11356k7nc72ij5e` (`category_id`),
  KEY `FKnswxw39bkivi88auxxsyb65wt` (`user_id`),
  CONSTRAINT `FK57nuecq03s11356k7nc72ij5e` FOREIGN KEY (`category_id`) REFERENCES `job_category` (`id`),
  CONSTRAINT `FKnswxw39bkivi88auxxsyb65wt` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_post_template`
--

LOCK TABLES `job_post_template` WRITE;
/*!40000 ALTER TABLE `job_post_template` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_post_template` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_post_view_history`
--

DROP TABLE IF EXISTS `job_post_view_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_post_view_history` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `viewed_at` datetime(6) DEFAULT NULL,
  `job_post_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKl4y389a8sacdyxj4s75uvmg7` (`job_post_id`),
  KEY `FK41x2ewg8mx78sfoiof2rm7yud` (`user_id`),
  CONSTRAINT `FK41x2ewg8mx78sfoiof2rm7yud` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKl4y389a8sacdyxj4s75uvmg7` FOREIGN KEY (`job_post_id`) REFERENCES `job_post` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_post_view_history`
--

LOCK TABLES `job_post_view_history` WRITE;
/*!40000 ALTER TABLE `job_post_view_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_post_view_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `late_appeal`
--

DROP TABLE IF EXISTS `late_appeal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `late_appeal` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `admin_memo` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `processed_at` datetime(6) DEFAULT NULL,
  `reason` text,
  `status` enum('APPROVED','PENDING','REJECTED') DEFAULT NULL,
  `admin_id` bigint DEFAULT NULL,
  `attendance_id` bigint DEFAULT NULL,
  `worker_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKbsh31cv2xmvdq6hmundfjnu3k` (`admin_id`),
  KEY `FKkenh3h8ota2gbbjta6no4ou1t` (`attendance_id`),
  KEY `FKje1bvnwxvqb5er1mo8c13t0ue` (`worker_id`),
  CONSTRAINT `FKbsh31cv2xmvdq6hmundfjnu3k` FOREIGN KEY (`admin_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKje1bvnwxvqb5er1mo8c13t0ue` FOREIGN KEY (`worker_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKkenh3h8ota2gbbjta6no4ou1t` FOREIGN KEY (`attendance_id`) REFERENCES `work_attendance` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `late_appeal`
--

LOCK TABLES `late_appeal` WRITE;
/*!40000 ALTER TABLE `late_appeal` DISABLE KEYS */;
/*!40000 ALTER TABLE `late_appeal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `message_report`
--

DROP TABLE IF EXISTS `message_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `message_report` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `reason` enum('ABUSE','FRAUD','OTHER','SEXUAL','SPAM') DEFAULT NULL,
  `status` enum('APPROVED','DISMISSED','PENDING','REVIEWED') DEFAULT NULL,
  `message_id` bigint DEFAULT NULL,
  `reporter_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKj3kwu7puhvwoan2j9rpg8qvyf` (`message_id`),
  KEY `FK3ulk0jar0h84blylngia8v4h3` (`reporter_id`),
  CONSTRAINT `FK3ulk0jar0h84blylngia8v4h3` FOREIGN KEY (`reporter_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKj3kwu7puhvwoan2j9rpg8qvyf` FOREIGN KEY (`message_id`) REFERENCES `messages` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `message_report`
--

LOCK TABLES `message_report` WRITE;
/*!40000 ALTER TABLE `message_report` DISABLE KEYS */;
/*!40000 ALTER TABLE `message_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messages` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content` text,
  `created_at` datetime(6) DEFAULT NULL,
  `read_at` datetime(6) DEFAULT NULL,
  `receiver_id` bigint DEFAULT NULL,
  `sender_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKt05r0b6n0iis8u7dfna4xdh73` (`receiver_id`),
  KEY `FK4ui4nnwntodh6wjvck53dbk9m` (`sender_id`),
  CONSTRAINT `FK4ui4nnwntodh6wjvck53dbk9m` FOREIGN KEY (`sender_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKt05r0b6n0iis8u7dfna4xdh73` FOREIGN KEY (`receiver_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mileage`
--

DROP TABLE IF EXISTS `mileage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mileage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` int NOT NULL,
  `balance_after` int NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `reference_id` bigint DEFAULT NULL,
  `type` enum('BOOST_USED','CHECKIN_ON_TIME','LATE','NO_SHOW','REFERRAL_BONUS','REVIEW_WRITTEN','STREAK_BONUS','WITHDRAWAL_CANCELLED','WITHDRAWAL_REQUESTED','WORK_COMPLETED') DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKdogpaf5o7ae48muhfjwba3ksv` (`user_id`),
  CONSTRAINT `FKdogpaf5o7ae48muhfjwba3ksv` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mileage`
--

LOCK TABLES `mileage` WRITE;
/*!40000 ALTER TABLE `mileage` DISABLE KEYS */;
/*!40000 ALTER TABLE `mileage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mileage_withdrawal`
--

DROP TABLE IF EXISTS `mileage_withdrawal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mileage_withdrawal` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `account_holder` varchar(255) DEFAULT NULL,
  `account_number` varchar(255) DEFAULT NULL,
  `bank_name` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `net_amount` int NOT NULL,
  `reject_reason` varchar(255) DEFAULT NULL,
  `request_amount` int NOT NULL,
  `status` enum('APPROVED','CANCELLED','PENDING','REJECTED') DEFAULT NULL,
  `tax_deduction` int NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKn0r90msnqaoxj82vepwnlh8c2` (`user_id`),
  CONSTRAINT `FKn0r90msnqaoxj82vepwnlh8c2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mileage_withdrawal`
--

LOCK TABLES `mileage_withdrawal` WRITE;
/*!40000 ALTER TABLE `mileage_withdrawal` DISABLE KEYS */;
/*!40000 ALTER TABLE `mileage_withdrawal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notice`
--

DROP TABLE IF EXISTS `notice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notice` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `category` enum('CAUTION','DRESS_CODE','ETC','EVENT','GATHER_TIME','GENERAL','UPDATE','URGENT') DEFAULT NULL,
  `content` text,
  `created_at` datetime(6) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `is_pinned` bit(1) NOT NULL,
  `notice_type` enum('ADMIN_NOTICE','COMPANY_NOTICE') DEFAULT NULL,
  `target_type` enum('ALL','INTERESTED','WORKER') DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `view_count` int NOT NULL,
  `author_id` bigint DEFAULT NULL,
  `job_post_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKgib4imoxg1fihk96xdsgmu51o` (`author_id`),
  KEY `FK72626md4j5ut8cahaimhxp0ta` (`job_post_id`),
  CONSTRAINT `FK72626md4j5ut8cahaimhxp0ta` FOREIGN KEY (`job_post_id`) REFERENCES `job_post` (`id`),
  CONSTRAINT `FKgib4imoxg1fihk96xdsgmu51o` FOREIGN KEY (`author_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notice`
--

LOCK TABLES `notice` WRITE;
/*!40000 ALTER TABLE `notice` DISABLE KEYS */;
/*!40000 ALTER TABLE `notice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification`
--

DROP TABLE IF EXISTS `notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `is_read` bit(1) NOT NULL,
  `message` varchar(255) DEFAULT NULL,
  `reference_id` bigint DEFAULT NULL,
  `type` enum('ACCOUNT_SUSPENDED','ACCOUNT_WARNING','ADMIN_ALERT','APPLICATION_ABSENT','APPLICATION_APPROVED','APPLICATION_NO_SHOW','APPLICATION_REJECTED','ATTENDANCE_CHECKED_IN','ATTENDANCE_CHECKED_OUT','ATTENDANCE_DISPUTE_APPROVED','ATTENDANCE_DISPUTE_RECEIVED','ATTENDANCE_DISPUTE_REJECTED','ATTENDANCE_LATE','ATTENDANCE_PHOTO','BOOKMARK_DEADLINE_SOON','BOOKMARK_JOB_CLOSED','BOOST_ACTIVATED','CONTRACT_CANCELLED','CONTRACT_COMPLETED','CONTRACT_CREATED','CONTRACT_SIGNED','DISPUTE_ACCEPTED','DISPUTE_CREATED','DISPUTE_DECLINED','DISPUTE_RESOLVED','GOAL_ACHIEVED','INQUIRY_REPLIED','INVITATION_RECEIVED','JOB_POST_CLOSED','LATE_APPEAL_APPROVED','LATE_APPEAL_RECEIVED','LATE_APPEAL_REJECTED','MESSAGE_RECEIVED','NEW_JOB_POST','NOTICE_RECEIVED','PAYROLL_AUTO_CONFIRMED','PAYROLL_CONFIRMED','PAYROLL_CREATED','PAYROLL_PAID','PAYROLL_REJECTED','REPORT_APPROVED','REPORT_DISMISSED','SUBSCRIPTION_EXPIRED','SUBSCRIPTION_EXPIRING_SOON','SUBSCRIPTION_RENEWAL_FAILED','SUBSCRIPTION_RENEWED','URGENT_JOB_POST') DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKnk4ftb5am9ubmkv1661h15ds9` (`user_id`),
  CONSTRAINT `FKnk4ftb5am9ubmkv1661h15ds9` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification`
--

LOCK TABLES `notification` WRITE;
/*!40000 ALTER TABLE `notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment`
--

DROP TABLE IF EXISTS `payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` int NOT NULL,
  `cancelled_at` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `item_name` varchar(255) DEFAULT NULL,
  `paid_at` datetime(6) DEFAULT NULL,
  `pay_method` varchar(255) DEFAULT NULL,
  `pg_transaction_id` varchar(255) DEFAULT NULL,
  `reference_id` bigint DEFAULT NULL,
  `status` enum('CANCELLED','PAID','PENDING','REFUNDED') DEFAULT NULL,
  `type` enum('JOB_POST','RESUME_VIEW','SUBSCRIPTION') DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKmi2669nkjesvp7cd257fptl6f` (`user_id`),
  CONSTRAINT `FKmi2669nkjesvp7cd257fptl6f` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment`
--

LOCK TABLES `payment` WRITE;
/*!40000 ALTER TABLE `payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payroll`
--

DROP TABLE IF EXISTS `payroll`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payroll` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `basic_pay` int NOT NULL,
  `confirmed_at` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `deadline_at` datetime(6) DEFAULT NULL,
  `holiday_pay` int NOT NULL,
  `holiday_pay_applied` bit(1) NOT NULL,
  `hourly_wage` int NOT NULL,
  `net_pay` int NOT NULL,
  `paid_at` datetime(6) DEFAULT NULL,
  `reject_reason` varchar(255) DEFAULT NULL,
  `status` enum('CONFIRMED','PAID','PENDING','REJECTED') DEFAULT NULL,
  `total_pay` int NOT NULL,
  `total_work_hours` double NOT NULL,
  `work_week_end` varchar(255) DEFAULT NULL,
  `work_week_start` varchar(255) DEFAULT NULL,
  `job_post_id` bigint DEFAULT NULL,
  `worker_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKhts822tpf5cl5qe4sv857ruqc` (`job_post_id`),
  KEY `FKemd2b0j9tyvqxx268ta8l0s1a` (`worker_id`),
  CONSTRAINT `FKemd2b0j9tyvqxx268ta8l0s1a` FOREIGN KEY (`worker_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKhts822tpf5cl5qe4sv857ruqc` FOREIGN KEY (`job_post_id`) REFERENCES `job_post` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payroll`
--

LOCK TABLES `payroll` WRITE;
/*!40000 ALTER TABLE `payroll` DISABLE KEYS */;
/*!40000 ALTER TABLE `payroll` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `popup`
--

DROP TABLE IF EXISTS `popup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `popup` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `end_at` datetime(6) DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `link_url` varchar(255) DEFAULT NULL,
  `start_at` datetime(6) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `popup`
--

LOCK TABLES `popup` WRITE;
/*!40000 ALTER TABLE `popup` DISABLE KEYS */;
/*!40000 ALTER TABLE `popup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portfolio`
--

DROP TABLE IF EXISTS `portfolio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portfolio` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `description` text,
  `image_count` int NOT NULL,
  `title` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `category_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKp2h0p7tg65meonvn80fc64gew` (`category_id`),
  KEY `FK76ws6sj6wg26k7lcx6a5mtqi4` (`user_id`),
  CONSTRAINT `FK76ws6sj6wg26k7lcx6a5mtqi4` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKp2h0p7tg65meonvn80fc64gew` FOREIGN KEY (`category_id`) REFERENCES `job_category` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portfolio`
--

LOCK TABLES `portfolio` WRITE;
/*!40000 ALTER TABLE `portfolio` DISABLE KEYS */;
/*!40000 ALTER TABLE `portfolio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portfolio_image`
--

DROP TABLE IF EXISTS `portfolio_image`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portfolio_image` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `sort_order` int NOT NULL,
  `portfolio_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKt44582f3i30sx25cjqth61a6p` (`portfolio_id`),
  CONSTRAINT `FKt44582f3i30sx25cjqth61a6p` FOREIGN KEY (`portfolio_id`) REFERENCES `portfolio` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portfolio_image`
--

LOCK TABLES `portfolio_image` WRITE;
/*!40000 ALTER TABLE `portfolio_image` DISABLE KEYS */;
/*!40000 ALTER TABLE `portfolio_image` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `post`
--

DROP TABLE IF EXISTS `post`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `post` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `category` enum('COMMUNITY','FREE','INTERVIEW_TIP','LABOR_CONSULTING') DEFAULT NULL,
  `content` text,
  `created_at` datetime(6) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `like_count` int NOT NULL,
  `title` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `view_count` int NOT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK7ky67sgi7k0ayf22652f7763r` (`user_id`),
  CONSTRAINT `FK7ky67sgi7k0ayf22652f7763r` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `post`
--

LOCK TABLES `post` WRITE;
/*!40000 ALTER TABLE `post` DISABLE KEYS */;
/*!40000 ALTER TABLE `post` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `post_comment`
--

DROP TABLE IF EXISTS `post_comment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `post_comment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content` text,
  `created_at` datetime(6) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `post_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKna4y825fdc5hw8aow65ijexm0` (`post_id`),
  KEY `FKbh2kvd72ce49c3f0bj77rxji2` (`user_id`),
  CONSTRAINT `FKbh2kvd72ce49c3f0bj77rxji2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKna4y825fdc5hw8aow65ijexm0` FOREIGN KEY (`post_id`) REFERENCES `post` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `post_comment`
--

LOCK TABLES `post_comment` WRITE;
/*!40000 ALTER TABLE `post_comment` DISABLE KEYS */;
/*!40000 ALTER TABLE `post_comment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `post_like`
--

DROP TABLE IF EXISTS `post_like`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `post_like` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `post_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKj7iy0k7n3d0vkh8o7ibjna884` (`post_id`),
  KEY `FKijnjmw0imnatadr3agtk0udip` (`user_id`),
  CONSTRAINT `FKijnjmw0imnatadr3agtk0udip` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKj7iy0k7n3d0vkh8o7ibjna884` FOREIGN KEY (`post_id`) REFERENCES `post` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `post_like`
--

LOCK TABLES `post_like` WRITE;
/*!40000 ALTER TABLE `post_like` DISABLE KEYS */;
/*!40000 ALTER TABLE `post_like` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preferred_category`
--

DROP TABLE IF EXISTS `preferred_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferred_category` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `category_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK1nxtv19m27tvitim21815t7m9` (`user_id`,`category_id`),
  KEY `FK6jofc30b7ntij8wrmhjaoea07` (`category_id`),
  CONSTRAINT `FK6jofc30b7ntij8wrmhjaoea07` FOREIGN KEY (`category_id`) REFERENCES `job_category` (`id`),
  CONSTRAINT `FKbda8y730ilmf3pvhdpjj97ce` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preferred_category`
--

LOCK TABLES `preferred_category` WRITE;
/*!40000 ALTER TABLE `preferred_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `preferred_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preferred_work_time`
--

DROP TABLE IF EXISTS `preferred_work_time`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `preferred_work_time` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `day_type` varchar(255) DEFAULT NULL,
  `end_time` varchar(255) DEFAULT NULL,
  `start_time` varchar(255) DEFAULT NULL,
  `time_type` varchar(255) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKe6xi4lucc0rbdw4ppnppxng5t` (`user_id`),
  CONSTRAINT `FKe6xi4lucc0rbdw4ppnppxng5t` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preferred_work_time`
--

LOCK TABLES `preferred_work_time` WRITE;
/*!40000 ALTER TABLE `preferred_work_time` DISABLE KEYS */;
/*!40000 ALTER TABLE `preferred_work_time` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profile_boost`
--

DROP TABLE IF EXISTS `profile_boost`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profile_boost` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `end_at` datetime(6) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `start_at` datetime(6) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKi5yt5ddnq8xop2jfqt77pn106` (`user_id`),
  CONSTRAINT `FKi5yt5ddnq8xop2jfqt77pn106` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profile_boost`
--

LOCK TABLES `profile_boost` WRITE;
/*!40000 ALTER TABLE `profile_boost` DISABLE KEYS */;
/*!40000 ALTER TABLE `profile_boost` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refresh_token`
--

DROP TABLE IF EXISTS `refresh_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `refresh_token` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `blacklisted` bit(1) NOT NULL,
  `expired_at` datetime(6) DEFAULT NULL,
  `refresh_token` varchar(1000) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refresh_token`
--

LOCK TABLES `refresh_token` WRITE;
/*!40000 ALTER TABLE `refresh_token` DISABLE KEYS */;
/*!40000 ALTER TABLE `refresh_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resume`
--

DROP TABLE IF EXISTS `resume`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resume` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `desired_job` varchar(255) DEFAULT NULL,
  `desired_location` varchar(255) DEFAULT NULL,
  `desired_salary` varchar(255) DEFAULT NULL,
  `disability` bit(1) DEFAULT NULL,
  `employment_support` bit(1) DEFAULT NULL,
  `military_service` varchar(255) DEFAULT NULL,
  `veteran_status` bit(1) DEFAULT NULL,
  `work_period` varchar(255) DEFAULT NULL,
  `work_schedule` varchar(255) DEFAULT NULL,
  `work_type` varchar(255) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKambe9wp1l8nu8xm0gpmvrhxtj` (`user_id`),
  CONSTRAINT `FKpv0whudowxosfu792veo6s2c0` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resume`
--

LOCK TABLES `resume` WRITE;
/*!40000 ALTER TABLE `resume` DISABLE KEYS */;
/*!40000 ALTER TABLE `resume` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resume_view_history`
--

DROP TABLE IF EXISTS `resume_view_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resume_view_history` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `charged` bit(1) DEFAULT NULL,
  `charged_amount` int DEFAULT NULL,
  `viewed_at` datetime(6) DEFAULT NULL,
  `company_id` bigint DEFAULT NULL,
  `worker_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKdw5melije17uy6neo3eec0imd` (`company_id`),
  KEY `FKml91m2igbqw6rq1464soo24de` (`worker_id`),
  CONSTRAINT `FKdw5melije17uy6neo3eec0imd` FOREIGN KEY (`company_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKml91m2igbqw6rq1464soo24de` FOREIGN KEY (`worker_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resume_view_history`
--

LOCK TABLES `resume_view_history` WRITE;
/*!40000 ALTER TABLE `resume_view_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `resume_view_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review`
--

DROP TABLE IF EXISTS `review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `review` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `comment` varchar(255) DEFAULT NULL,
  `kindness_rating` int NOT NULL,
  `rating` int NOT NULL,
  `review_type` enum('COMPANY_TO_WORKER','WORKER_TO_COMPANY') DEFAULT NULL,
  `sincerity_rating` int NOT NULL,
  `skill_rating` int NOT NULL,
  `application_id` bigint DEFAULT NULL,
  `company_id` bigint DEFAULT NULL,
  `target_company_id` bigint DEFAULT NULL,
  `worker_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKnwofjmf0nwbb9u45qj72ao40u` (`application_id`),
  KEY `FKogjhtqajql4cch4ioxilaywf` (`company_id`),
  KEY `FKierljp07tm4emrcc7qgc68u3t` (`target_company_id`),
  KEY `FKl23c9uckry4h4m5lxlgw7acdd` (`worker_id`),
  CONSTRAINT `FKeqil1mqbskys3qm3rb71e39uv` FOREIGN KEY (`application_id`) REFERENCES `application` (`id`),
  CONSTRAINT `FKierljp07tm4emrcc7qgc68u3t` FOREIGN KEY (`target_company_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKl23c9uckry4h4m5lxlgw7acdd` FOREIGN KEY (`worker_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKogjhtqajql4cch4ioxilaywf` FOREIGN KEY (`company_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review`
--

LOCK TABLES `review` WRITE;
/*!40000 ALTER TABLE `review` DISABLE KEYS */;
/*!40000 ALTER TABLE `review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `search_keywords`
--

DROP TABLE IF EXISTS `search_keywords`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `search_keywords` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `keyword` varchar(255) NOT NULL,
  `user_id` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `search_keywords`
--

LOCK TABLES `search_keywords` WRITE;
/*!40000 ALTER TABLE `search_keywords` DISABLE KEYS */;
/*!40000 ALTER TABLE `search_keywords` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skill`
--

DROP TABLE IF EXISTS `skill`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skill` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `category_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKkmf1aob9ub86j6ab82fixfvr6` (`category_id`),
  KEY `FKohg89pau976dm4s904dadgqhl` (`user_id`),
  CONSTRAINT `FKkmf1aob9ub86j6ab82fixfvr6` FOREIGN KEY (`category_id`) REFERENCES `job_category` (`id`),
  CONSTRAINT `FKohg89pau976dm4s904dadgqhl` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skill`
--

LOCK TABLES `skill` WRITE;
/*!40000 ALTER TABLE `skill` DISABLE KEYS */;
/*!40000 ALTER TABLE `skill` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscription_plan`
--

DROP TABLE IF EXISTS `subscription_plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscription_plan` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `description` varchar(255) DEFAULT NULL,
  `invitation_limit` int DEFAULT NULL,
  `job_post_limit` int DEFAULT NULL,
  `matching_limit` int DEFAULT NULL,
  `plan_name` varchar(255) DEFAULT NULL,
  `plan_type` enum('BASIC','FREE','PREMIUM','STANDARD') DEFAULT NULL,
  `price` int DEFAULT NULL,
  `resume_view_price` int DEFAULT NULL,
  `top_exposure` bit(1) DEFAULT NULL,
  `urgent_badge` bit(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKib78hseq5rayqv5avxyhbyyt6` (`plan_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscription_plan`
--

LOCK TABLES `subscription_plan` WRITE;
/*!40000 ALTER TABLE `subscription_plan` DISABLE KEYS */;
/*!40000 ALTER TABLE `subscription_plan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `terms`
--

DROP TABLE IF EXISTS `terms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `terms` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content` text,
  `created_at` datetime(6) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `title` varchar(255) DEFAULT NULL,
  `type` enum('MARKETING','PRIVACY','SERVICE') DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `version` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `terms`
--

LOCK TABLES `terms` WRITE;
/*!40000 ALTER TABLE `terms` DISABLE KEYS */;
/*!40000 ALTER TABLE `terms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `two_factor_auth`
--

DROP TABLE IF EXISTS `two_factor_auth`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `two_factor_auth` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `expired_at` datetime(6) DEFAULT NULL,
  `verified` bit(1) NOT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKax3p7kk0ktwnpreejtt5661w` (`user_id`),
  CONSTRAINT `FKax3p7kk0ktwnpreejtt5661w` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `two_factor_auth`
--

LOCK TABLES `two_factor_auth` WRITE;
/*!40000 ALTER TABLE `two_factor_auth` DISABLE KEYS */;
/*!40000 ALTER TABLE `two_factor_auth` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_profile_image`
--

DROP TABLE IF EXISTS `user_profile_image`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_profile_image` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `order_index` int NOT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKf03if8m1gufj3wy9445k1moyi` (`user_id`),
  CONSTRAINT `FKf03if8m1gufj3wy9445k1moyi` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_profile_image`
--

LOCK TABLES `user_profile_image` WRITE;
/*!40000 ALTER TABLE `user_profile_image` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_profile_image` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `account_holder` varchar(255) DEFAULT NULL,
  `account_number` varchar(255) DEFAULT NULL,
  `activity_region` varchar(255) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `address_detail` varchar(255) DEFAULT NULL,
  `age` int DEFAULT NULL,
  `anonymized` bit(1) DEFAULT NULL,
  `available_always` bit(1) DEFAULT NULL,
  `bank_name` varchar(255) DEFAULT NULL,
  `bio` text,
  `business_license_status` enum('APPROVED','NONE','PENDING','REJECTED') DEFAULT NULL,
  `business_license_url` varchar(255) DEFAULT NULL,
  `company_name` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `emergency_contact_name` varchar(50) DEFAULT NULL,
  `emergency_contact_phone` varchar(20) DEFAULT NULL,
  `emergency_contact_relation` varchar(20) DEFAULT NULL,
  `gender` enum('ANY','FEMALE','MALE') DEFAULT NULL,
  `grade` varchar(255) DEFAULT NULL,
  `grade_score` double DEFAULT '0',
  `last_login_at` datetime(6) DEFAULT NULL,
  `mbti` varchar(255) DEFAULT NULL,
  `mileage` int NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `no_show_count` int DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `profile_image_count` int DEFAULT NULL,
  `profile_image_url` varchar(255) DEFAULT NULL,
  `provider` enum('GOOGLE','KAKAO','LOCAL','NAVER') DEFAULT NULL,
  `provider_id` varchar(255) DEFAULT NULL,
  `referral_code` varchar(10) DEFAULT NULL,
  `referral_count` int DEFAULT '0',
  `referred_by` varchar(10) DEFAULT NULL,
  `role` enum('ADMIN','COMPANY','INDIVIDUAL','MANAGER') DEFAULT NULL,
  `specialty_badge` varchar(255) DEFAULT NULL,
  `suspend_reason` varchar(255) DEFAULT NULL,
  `suspended` bit(1) DEFAULT NULL,
  `temperature` double DEFAULT NULL,
  `two_factor_enabled` bit(1) NOT NULL,
  `warning_level` int DEFAULT '0',
  `work_availability` enum('IMMEDIATE','NEGOTIABLE') DEFAULT NULL,
  `company_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK6dotkott2kjsp8vw4d0m25fb7` (`email`),
  UNIQUE KEY `UKdb3w2sgtsy1kf0qitc77h0bpa` (`referral_code`),
  KEY `FK5x3oxgbg4lcyk324731xb5xgx` (`company_id`),
  CONSTRAINT `FK5x3oxgbg4lcyk324731xb5xgx` FOREIGN KEY (`company_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `work_attendance`
--

DROP TABLE IF EXISTS `work_attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `work_attendance` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `check_in_address` varchar(255) DEFAULT NULL,
  `check_in_latitude` double DEFAULT NULL,
  `check_in_longitude` double DEFAULT NULL,
  `check_in_photo_taken_at` datetime(6) DEFAULT NULL,
  `check_in_photo_url` varchar(255) DEFAULT NULL,
  `check_in_time` datetime(6) DEFAULT NULL,
  `check_out_address` varchar(255) DEFAULT NULL,
  `check_out_latitude` double DEFAULT NULL,
  `check_out_longitude` double DEFAULT NULL,
  `check_out_photo_taken_at` datetime(6) DEFAULT NULL,
  `check_out_photo_url` varchar(255) DEFAULT NULL,
  `check_out_time` datetime(6) DEFAULT NULL,
  `status` enum('ABSENT','LATE','NORMAL') DEFAULT NULL,
  `application_id` bigint DEFAULT NULL,
  `work_session_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKg3r00kg7aevea5q03js2pmnmq` (`application_id`),
  KEY `FK74n1889xt0f7p38ha7ws9as7h` (`work_session_id`),
  CONSTRAINT `FK74n1889xt0f7p38ha7ws9as7h` FOREIGN KEY (`work_session_id`) REFERENCES `work_session` (`id`),
  CONSTRAINT `FKb0h47lr596dom9bvirj5ww5i5` FOREIGN KEY (`application_id`) REFERENCES `application` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `work_attendance`
--

LOCK TABLES `work_attendance` WRITE;
/*!40000 ALTER TABLE `work_attendance` DISABLE KEYS */;
/*!40000 ALTER TABLE `work_attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `work_session`
--

DROP TABLE IF EXISTS `work_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `work_session` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `break_minutes` int NOT NULL,
  `current_count` int NOT NULL,
  `end_time` varchar(255) DEFAULT NULL,
  `memo` varchar(255) DEFAULT NULL,
  `pay` int NOT NULL,
  `recruit_count` int NOT NULL,
  `shift` varchar(255) DEFAULT NULL,
  `start_time` varchar(255) DEFAULT NULL,
  `status` enum('CLOSED','FINISHED','IN_PROGRESS','SCHEDULED') DEFAULT NULL,
  `work_date` varchar(255) DEFAULT NULL,
  `job_post_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKhius9mm5ag2i8tfl2lgapvt3l` (`job_post_id`),
  CONSTRAINT `FKhius9mm5ag2i8tfl2lgapvt3l` FOREIGN KEY (`job_post_id`) REFERENCES `job_post` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `work_session`
--

LOCK TABLES `work_session` WRITE;
/*!40000 ALTER TABLE `work_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `work_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `work_session_qr`
--

DROP TABLE IF EXISTS `work_session_qr`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `work_session_qr` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `qr_image_url` varchar(255) DEFAULT NULL,
  `qr_token` varchar(255) DEFAULT NULL,
  `work_session_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKjp3o4hki2mdglbxvsglt9ya1n` (`work_session_id`),
  CONSTRAINT `FK8bsadd0x2o1vxgh4qmhmcq7dw` FOREIGN KEY (`work_session_id`) REFERENCES `work_session` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `work_session_qr`
--

LOCK TABLES `work_session_qr` WRITE;
/*!40000 ALTER TABLE `work_session_qr` DISABLE KEYS */;
/*!40000 ALTER TABLE `work_session_qr` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `worker_blacklist`
--

DROP TABLE IF EXISTS `worker_blacklist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `worker_blacklist` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `company_id` bigint DEFAULT NULL,
  `worker_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKj3v8l110a69m41p5nmvxqshi8` (`company_id`),
  KEY `FKo54y7qy6tjkjwyd2srrmbbcf2` (`worker_id`),
  CONSTRAINT `FKj3v8l110a69m41p5nmvxqshi8` FOREIGN KEY (`company_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKo54y7qy6tjkjwyd2srrmbbcf2` FOREIGN KEY (`worker_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `worker_blacklist`
--

LOCK TABLES `worker_blacklist` WRITE;
/*!40000 ALTER TABLE `worker_blacklist` DISABLE KEYS */;
/*!40000 ALTER TABLE `worker_blacklist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `worker_memo`
--

DROP TABLE IF EXISTS `worker_memo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `worker_memo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `memo` text,
  `updated_at` datetime(6) DEFAULT NULL,
  `company_id` bigint DEFAULT NULL,
  `worker_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKcq244h6jmwl1j7auq8h94r66` (`company_id`),
  KEY `FK3akfoymor60dqc50nr1m6t643` (`worker_id`),
  CONSTRAINT `FK3akfoymor60dqc50nr1m6t643` FOREIGN KEY (`worker_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKcq244h6jmwl1j7auq8h94r66` FOREIGN KEY (`company_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `worker_memo`
--

LOCK TABLES `worker_memo` WRITE;
/*!40000 ALTER TABLE `worker_memo` DISABLE KEYS */;
/*!40000 ALTER TABLE `worker_memo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `worker_scrap`
--

DROP TABLE IF EXISTS `worker_scrap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `worker_scrap` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `company_id` bigint DEFAULT NULL,
  `worker_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKotxljkxifpy7ij5xdgiq8w3ad` (`company_id`),
  KEY `FK8nerwwuqfkstkjeqvytt6yihm` (`worker_id`),
  CONSTRAINT `FK8nerwwuqfkstkjeqvytt6yihm` FOREIGN KEY (`worker_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKotxljkxifpy7ij5xdgiq8w3ad` FOREIGN KEY (`company_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `worker_scrap`
--

LOCK TABLES `worker_scrap` WRITE;
/*!40000 ALTER TABLE `worker_scrap` DISABLE KEYS */;
/*!40000 ALTER TABLE `worker_scrap` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-09  7:32:20
